<<<<<<< HEAD
<h3>NUEVA CONFERENCIA</h3>

Form...
<form method="post" action="{{path('conferenciasSave')}}">
    <input name="var1" type="text" />
    <input type="submit" text="Save" />
=======
<h3>New CONFERENCIAS</h3>

Form...
<form method="post" action="{{path('conferenciasSave')}}">
<input name="var1" type="text" />
<input type="submit" text="Save" />
>>>>>>> 25bd42bde43ad346072499d2a3c9226ec0f60794
</form>

{{algomas}}