<form method= "POST" action="{{('faqSave')}}">
	<label name="lblpregunta" id=1>Pregunta</label><br>
	<input type="text"name="txtpregunta" id=2><br>

	<label name="lblrespuestata" id=3>Respuesta</label><br>
	<input type="text" name="txtrespuesta" id=4><br>

	<input type="submit" name="btnEnviar" value="Enviar"> <br>
	<input type="submit" name="btnCancelar" value="Cancelar">
</form>
